@import url('utils.css');
@import url('components/default.css');
@import url('components/buttons.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: var(--primary)
        /* border: 1px solid greenyellow; */
}

html {
    height: 100vh;
}

body {
    height: 100%;
    display: grid;
    background-color: var(--secondary);
}

a {
    text-decoration: none;
    color: var(--primary);
}

ul {
    list-style-type: none;
}

/* NAVIGATION BAR */
nav {
    padding: 1rem 2rem;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav>ul>li {
    font-size: 1.3rem;
}

nav>ul li:last-child {
    margin-left: auto;
}

.theme-btn:hover {
    cursor: pointer;
}