.default-image {
    background-image: url('https://images04.nicepage.com/feature/511177/create-any-website-with-powerful-website-builder-website-builder.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}